body{
    background-color: rgb(26, 26, 26);
    height: 100%;
    width: 100%;
}

.heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Indie Flower", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(211, 211, 211);
    text-shadow: 2px 2px 8px red;
    border-bottom: 1px solid rgb(82, 82, 82);
    background-color: black;
}

.hero {
    display: flex;
    height: 100%;
    padding-top: 30px;
    padding-left: 180px;
    column-gap: 50px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
    background-color: rgb(26, 26, 26);
    padding-top: 18px;
    row-gap: 60px;
}

.btn{
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 10px white;
    width: 200px;
    height: auto;
}

.click-btn {
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white; 
    color: black;
    font-size: 24px;
    font-family: "Fuzzy Bubbles", sans-serif; 
    font-weight: bold;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    width: 200px;
    height: auto;
}

.hover{
    transform: scale(1.1,1.1);
    box-shadow: 0px 4px 5px rgb(255, 200, 209);
}

.toy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 26, 26);
    padding-left: 300px;
}

img {
    height: 600px;
    width: 750px;
    user-select: none;
    pointer-events: none;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid green;
    border-radius: 15px;
    width: 518px;
    height: 440px;
    margin-left: -634px;
    margin-top: -80px;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
}

.black{
    background-color: black;
}

.grid-size-parent{
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    background-color: rgb(26, 26, 26);
}

.grid-size {
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    font-family: "Caveat", sans-serif;
    color: rgb(211, 211, 211);
    border: dashed red;
    height: fit-content;
    width: 90px;
    text-align: center;
}